<html>
<head>
<title>Login page</title>
<style>
	
	.bg-dark {
		background-color:  #21618C!important;
	}
	#result {
		color: #ffffff;
	}
	body
{
    background-image: url("https://i.pinimg.com/originals/58/28/c5/5828c5a104f147e30ef1bed19798c2a8.jpg");
    background-size: cover;
}
 table{text-align: center;}

	</style>
</head>
    <body>
    <h1> <nav class="red">
         <div class="container">
<center>
             <a class="pink" href="#"><font color="pink">&nbsp Real Time Communication System Powered By AI For Specially Abled Using CNN</font></a>
</center>
        </div>
     </nav>
     </h1>
     <br>
      <br>
        <form action="C:\Users\aishu\Desktop\login page1.html"method="get">
           <div> 
               <table align="center">

<h1>
                <br>
                <br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<tr>
                    <td>Username</td>
                    <td><input type='text' name="uname"></td>
                </tr>
                <br>
                <br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<tr>
                    <td>Password</td>
                    <td><input type='password' name="pass"></td>
                </tr>  
                <br>
                <br>
</h1>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<tr>
                    <td>
                    &nbsp&nbsp&nbsp&nbsp
                    <a class ="button" href="{{url_for()}}">click here</a></td>
                </tr>          
            
            </table>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 <img src="https://th.bing.com/th/id/R.7d1ae245d03510eb47b035b22221c808?rik=p6PzkRhZiB78pw&riu=http%3a%2f%2fcdn.greatnonprofits.org%2fimages%2flogos%2fNoLimitsNewLogo2017.png&ehk=Lb3kDoL3mgvqrDNQGqN%2f5bPixKOIZOOku6TfIYaL6hQ%3d&risl=&pid=ImgRaw&r=0" height="40%",width="20%");
           </p> </div>
        </form>
    </body>
</html>